{% extends 'cards/layout.html' %}
{% block content %}
<h1 class="text-2xl sm:text-6xl font-bold my-8 text-center">Turn Any <span class="text-primary">Youtube
    Video</span> into <span class="text-primary">Anki Cards</span>. No Login Required.</h1>
<p class="text-lg sm:text-2xl my-8 text-center max-w-lg mx-auto">
1. Enter a valid <span class="text-primary">Youtube URL</span> below. <br>
2. We create questions (and their answers) to test your understanding of the video.<br>
3. Download the <span class="text-primary">Anki cards</span> and import them into the app.
</p>
<p class="text-lg sm:text-2xl mt-8 text-center text-success font-bold">Try it out for free now.</p>
<p class="text-sm text-center mb-8">Over <strong>{{questionCount}}</strong> questions and answers for over <strong>{{videoCount}}</strong> videos already created.</p>
<form 
hx-get="/generate" 
hx-target="#results" 
hx-indicator="#loading" 
@submit="document.querySelector('#results').innerHTML = ''"
class="form-control">
<input
type="text" 
name="url" 
id="url" 
placeholder="Youtube URL"
class="input input-bordered sm:input-lg w-full mx-auto block mx-4" 
required />

<input 
type="submit" 
class="btn btn-primary text-primary hover:text-white sm:input-lg mt-8 mx-auto w-1/2 block plausible-event-name=Click+Generate" 
value="Generate Anki Cards" />
</form>

<!-- loading indicator

<div class="mt-8 text-center htmx-indicator" id="loading">
<span class="loading loading-spinner loading-lg"></span>
<span class="mt-6 text-center block">Computing...(this takes ca. 30s)</span>
</div>
end loading indicator -->

<div id="results"></div>
{% endblock %}