<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube2Anki</title>
    <!-- load vue js from cdn -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.5.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
    <style>
        .htmx-indicator{
            display:none;
        }

        .htmx-request .htmx-indicator{
            display:block;
        }

        .htmx-request.htmx-indicator{
            display:block;
        }
    </style>
</head>