<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube2Anki</title>
    <!-- load vue js from cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div id="app">
        <h1>Youtube => Anki</h1>
        <div class="form">
            <input type="text" name="id" id="id" v-model="id" placeholder="Youtube ID">
            <button @click="getQAs">Generate Q/As</button>
        </div>
        <!-- loading indicator -->
        <div v-if="loading" class="loader"></div>
        <div v-if="loading" style="margin-top: 0.5rem; text-align:center;">Computing for [[ loadingSeconds ]]s...(this takes ca. 30s)</div>
        <!-- end loading indicator -->
        <div v-if="finished && !loading">
            <h2>Question/Answer Pairs</h2>
            <button @click="generateCSV">Download .txt file</button>
            <div v-for="qa in questionAnswers">
                <h3>[[ qa.question ]]</h3>
                <p>[[ qa.answer ]]</p>
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>

</html>