<div class="prose sm:prose-lg mx-auto mt-8">
    <h2>Question/Answer Pairs</h2>
    <button onclick="generateTxt()" class="btn btn-neutral">Download .txt file</button>
        {% for qa in qas %}
            <input type="hidden" name="questions" value="{{ qa.question }}">
            <input type="hidden" name="answers" value="{{ qa.answer }}">
        {% endfor %}
    </form>
    {% for qa in qas %}
        <div class="qa-pair">
            <h3 class="question">{{ qa.question }}</h3>
            <p class="answer">{{ qa.answer }}</p>
        </div>
    {% endfor %}
</div>